page-home{
    .searchs{
        position: fixed;
        top: 51px;
        left:0;
        width: 100%;
        z-index: 999;
        bottom: 105px;

        ul.search{
            list-style: none;
            width:100%;
            padding:0;
            height: 50px;
            margin-top:0;
            margin-bottom: 0;
            padding-left: 15px;
            padding-right: 15px;
            background: #fff;

            .li{
                float: left;
                width: 50%;
                text-align: center;
                height: 30px;
                margin-top:10px;
                margin-bottom: 10px;
                line-height: 30px;
                position: relative;
                background: #fff;
            }

            .li:after{
                content: '';
                width: 0;
                height: 0;
                position: absolute;
                bottom: 0;
                right: 0;
                border-bottom: 7px solid rgba(60, 60, 60, 0.7);
                border-left: 7px solid transparent;

            }
        }

        .filtcont{
            list-style: none;
            width:100%;
            padding:0px;
            margin-top:0;
            margin-bottom: 0;
            background: #fff;
            border-top: 1px solid #dedede;
            padding-bottom: 15px;


            .li{
                float: none;
                width: 100%;
                height: 50px;
                line-height: 50px;
                padding-left: 20px;

                .ion-md-checkmark:before {
                    padding-right: 10px;
                    color: #fff;
                }
            }
            .list-md{
                margin: 0;
            }

            .active{
                .li{
                    color: #06C1AE;
                    background: #dfdfdf;

                    .ion-md-checkmark:before {
                        padding-right: 10px;
                        color: #06C1AE;
                    }
                }
                
            }
        }


        .searchcont{
            list-style: none;
            width:100%;
            padding:0px;
            margin-top:0;
            margin-bottom: 0;
            background: #fff;
            border-top: 1px solid #dedede;
            padding-bottom: 15px;
            overflow: scroll;
            height: 100%;
            position: absolute;
            bottom: 0px;
            top: 49px;

            .li{
                float: none;
                width: 100%;
                padding-left: 20px;

                p{
                    color: #000;
                }

                .lists{
                    padding-bottom: 10px;
                    a{
                        display: inline-block;
                        background: #fff;
                        color: #000;
                        width: 22%;
                        height: 30px;
                        margin: 5px 0px;
                        margin-right:5px;
                        border-radius: 3px;
                        text-align: center;
                        line-height: 30px;
                        border:1px solid #dedede;
                    }
                    a.active{
                        background: #06C1AE;
                        color: #fff;
                    }
                }
            }        
        }
        
    }

    .line{
        width: 100%;
        height: 0px;
        border-bottom: 1px solid #dedede;
    }  

    .alerts{
        position: absolute;
        top:50px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 333;
        background: #000;
        opacity: 0.1;
    }
    .nullData{
        top:50%;
        left:50%;
        position: absolute;
        width: 100%;
        height: 30px;
        margin-top: -15px;
        margin-left: -50%;
        text-align: center
    }
}


